/* cols={4} rowHeight={300} width={1000} container spacing={2} */

.productsStyling {
    padding-top: 70px;
}

.GridItemWrapper {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    border-radius: 5px;
    vertical-align: top;
}

/* Styling for pagination */

.navigationButtons {
    width: 50%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 40px;
}

.navigationButtons a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
    cursor: pointer;
}

.navigationButtons a:hover {
    color: white;
    background-color: black;
}

.navigationActive a {
    color: white;
    background-color: black;
}

.navigationDisabled a {
    color: grey;
    background-color: whitesmoke;
}